button{
    outline: none;
    border: none;
    &:hover{
        cursor: pointer;
    }
    &:focus{
        cursor: pointer;
        outline: none;
    }
}
.btn-header{
    color: #429E05;
    width: 136px;
    height: 47px;
    margin: auto;
    border-radius: 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    &:first-child{
        background-color: #429E05;
        color: #fff;
    }
    &:hover{
        color: #fff;
        background-color: #429E05;
    }
}
.btn-banner{
    width: 217px;
    height: 54px;
    background: #7AC943;
    border-radius: 30px;
    font-family: Helvetica;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    &:hover{
        color: #429E05;
        background-color: #a4e774;
    }
}
.btn-contact{
    background: #7AC943;
    border-radius: 4px;
    width: 162px;
    height: 55px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
    color: #fff;
    &:hover{
        color: #429E05;
        background-color: #a4e774;
    }
}