input{
    width: 100%;
    border: 2px solid #ddd;
    padding: 8px 10px;
    outline: none;
}
.input-contact{
    // border: 2px solid #ddd;
    // padding: 8px 10px;
    height: 55px;
    width: 100%;
    margin-right: 5px;
}