.contact-lienhe{
    overflow-x: hidden;
    margin-top: 100px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    &__title{
        margin-top: 50px;
        &--size-m{
            font-family: Helvetica;
            font-size: 18px;
            line-height: 152.3%;
            color: #383838;
        }
    }
    iframe{
        margin-top: 64px;
    }
    &__form{
        margin-top: 50px;
        font-family: Helvetica;
        font-weight: 500;
        font-size: 24px;
        line-height: 138.5%;
        color: #429E05;
        input{
            margin: 10px 0;
        }
        textarea{
            width: 100%;
            padding: 8px 10px;
            margin: 10px 0;
            min-height: 150px;
            outline: none;
            border: 2px solid #ddd;
        }
    }
}

@include responsive_1024{
    
}

@include responsive_768{
    iframe{
        width: 100% !important;
    }
}

@include responsive_361{
    .contact-lienhe{
        &__title{
            margin-left: 15px;
            margin-right: 15px;
        }
        &__form{
            margin-left: 15px;
            margin-right: 15px;           
        }
    }
    iframe{
        width: 100% !important;
    }
}

@include responsive_360{
    .contact-lienhe{
        &__title{
            margin-left: 15px;
            margin-right: 15px;
        }
        &__form{
            margin-left: 15px;
            margin-right: 15px;           
        }
    }
    iframe{
        width: 100% !important;
    }
}



//


